<!-- begin social -->
<div class="social {{ class }}">
	<ul class="social__list">
		<li class="social__item">
			<a href="#" class="social__link">
				{{ mixin.icon('social__instagram', 'social__icon') }}
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				{{ mixin.icon('social__youtube', 'social__icon') }}
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				{{ mixin.icon('social__telegram', 'social__icon') }}
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				{{ mixin.icon('social__vk', 'social__icon') }}
			</a>
		</li>
	</ul>
</div>
<!-- end social -->
