body {

    &.modal-open {
        padding-right: 0 !important;
    }
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    @include flexColumn;
}

.main {
    flex: 1;

    @include respond-to(sm) {
        padding-top: 50px;
    }
}

.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    fill: $color-icon;
}

.section {
    margin-bottom: 80px;
    @include respond-to(sm) {
        margin-bottom: 40px;
    }
} //.section

.page-title {
    @include respond-to(xs) {
        text-align: center;

        &__sub {
            display: block;
            text-align: center;
        }
    }

    &__wrap {
        margin-bottom: 40px;
        @include flexCenter;
        @include respond-to(xs) {
            justify-content: center;
        }
    } //.page-title__wrap

    &__btn {
        margin-left: auto;
        @include respond-to(xs) {
            display: none;
        }
    } //.page-title__btn
} //.page-title

.text-center {
    text-align: center;
} //.text-center

.box-center {
    @include flexColumn;
    align-items: center;
} //.box-center

.social {
    @include flexCenter;

    &__list {
        @include flexCenter;
    } //social__list

    &__item {

        & + & {
            margin-left: 30px;
        }
    } //social__item

    &__link {

        &:hover {

            .social__icon {
                fill: #000;
            }
        }
    } //social__link

    &__icon {
        fill: $gray;
    } //social__icon
} //social

.phone {
    position: relative;

    &__link {
        display: block;
        color: $gray--darkest;
        font-size: 20px;
        line-height: 1;
    } //phone__link

    &__text {
        display: block;
        margin-top: 5px;
        color: $gray;
        font-family: $f;
        font-size: 13px;
        line-height: 1;
    } //phone__text

    &--icon {

        .phone__link {
            position: relative;
        }
    } //phone--icon
} //phone

.go-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: $color-link;
    font-family: $f-bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transform: translateX(200%);
    transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.13, 0.98);
    z-index: z(success);
    display: flex;

    // @include min-screen(426) {
    //     display: none;
    // }

    &::before {
        content: '\f106';
        color: $color-link;
        font-family: faR;
        font-size: 20px;
        line-height: 1;
        @include vx;
        top: 15px;
    }

    &.is-visible {
        transform: translateX(0);
    }
} //.go-top

.policy {
    font-family: $f-light;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: $color-text;
} //.policy

.list-style {

    &--circle {

        li {
            margin-left: 22px;
            list-style-type: disc;
        }
    }

    &--def {

        li {
            padding-left: 20px;
            position: relative;

            &::before {
                content: '—';
                @include vy;
                left: 0;
            }
        }
    }
} //.list-style

.badge {
    width: 185px;
    height: 185px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;

    &--yellow {
        background-color: $color-accent;
    }

    span {
        margin: auto;
        position: relative;

        &::before {
            content: '*';
            color: $color-text;
            position: absolute;
            top: -3px;
            left: 15px;
        }
    }
}//.badge
