---
title: 404
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main 404 -->
<main class="main 404">

	<div class="404__inner">
		<i class="fa fa-frown-o 404__icon"></i>
		<h1 class="404__title">404</h1>
		<div class="404__text">Упс...Страница которую вы ищите не найдена. <br> Скорее всего вы попали на битую ссылку или опечатались при вводе URL. <br> Проверьте правильность Url или <a class="button-link 404__link" href="home.html">вернитесь на главную</a>.</div>
	</div>

</main>
<!-- end main 404 -->

{% endblock %}
