---
title: 404
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin main error -->
<main class="main error">

	<div class="error__wrap">
			<div class="error__content">
				<h1 class="error__title">404</h1>
				<div class="error__text">Упс...Страница которую вы ищите не найдена. <br> Скорее всего вы попали на битую ссылку или опечатались при воде URL. <br> Проверьте правильность Url или <a href="#">вернитесь на главную</a></div>
			</div>
		</div>

</main>
<!-- end main error -->

{% endblock %}
