---
title: Title
---

{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main home">
	<!-- begin hero -->
	 <section class="hero">
		<div class="container">
			<div class="hero__slider m-slider">
				<div class="m-slider__arrow m-slider__arrow--next"></div>
				<div class="m-slider__arrow m-slider__arrow--prev"></div>
				<div class="m-slider__dots"></div>
				<div class="hero__slides m-slider__slides js-hero-slider">
					{% for i in range(0, 3) %}
					<div class="hero__slide m-slider__slide">
						{{item.picture('hero', '1')}}
						<div class="m-slider__text">
							<div class="m-slider__title">Победа очевидна</div>
							<div class="m-slider__desc">Более 20 высокорентабельных <br> брендов автозапчастей напрямую <br> от производителей на вашем <br>складе через 3 дня</div>
							{{item.btn('Оставить заявку', 'btn--accent m-slider__btn')}}
						</div>
					</div>
					 {% endfor %}
				</div>
			</div>
		</div>
	</section><!-- end hero -->
</main><!-- end home -->

{% endblock %}
