---
	title: Главная
---

{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main home">
	<!-- begin hero -->
	<section class="hero">
			<div class="hero__slider m-slider">
				<div class="m-slider__dots"></div>
				<div class="hero__slides m-slider__slides js-hero-slider">
						{% for i in range(0, 3) %}
						<div class="hero__slide m-slider__slide" style="background-image: url('img/general/firstscreen-bg.jpg');">
							<div class="container">
								<div class="m-slider__text">
									<div class="m-slider__title">Победа очевидна</div>
									<div class="m-slider__desc">Более 20 высокорентабельных
										<br> брендов автозапчастей напрямую
										<br> от производителей на вашем
										<br>складе через 3 дня</div>

										<a class="btn btn--accent" data-toggle="modal" href="#cooperation"> Оставить заявку</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
	</section>
	<!-- end hero -->

	<!-- begin calculator -->
	<section class="section calculator">
		<div class="container">
			<div class="page-title__wrap">
				<div class="page-title__in">
					<h2 class="h2 page-title">Рассчитайте свой доход</h2>
					<span class="page-title__sub">На примере бренда Балаково Запчасть</span>
				</div>
			</div>

			<div class="calculator__in js-calculator">
				<div class="calculator__slider">
					<div class="calculator--sum">
						<div class="range__diapazon">
							<span class="range__title">Сумма закупки</span>
							<div class="range__to">
								<span id="calculator-sum-price">500000</span>
								<i class="far fa-ruble-sign"></i>
							</div>
						</div>
						<div class="range">
							<div class="range__slider" id="calculator-sum" data-start="50000" data-end="1000000"></div>
						</div>
					</div>

					<div class="calculator--status">
						<div class="range__diapazon">
							<span class="range__title">Статус </span>
							<div class="range__to">
								<span id="calculator-status-vall">Оптовик</span>
							</div>
						</div>
						<div class="range">
							<div class="range__slider" id="calculator-status"></div>
						</div>
					</div>
					<div class="calculator__info">*Предварительный расчет. Не является публичной офертой.</div>
				</div>

				<div class="calculator__result">
					<div class="calculator-result">
						<div class="calculator-result__sum">
							<div>
								<span class="js-calculator-result">125000</span>
								<i class="far fa-ruble-sign"></i>
							</div>
							<small>Прибыль / месяц</small>
						</div>

						<a class="btn btn--black" data-toggle="modal" href="#cooperation">Стать оптовиком</a>

						<a href="brands.html" class="btn-link">Смотреть бренды</a>

						<span class="calculator-result__sale">
							<span class="js-calculator-profit" data-profit="25">25%</span>
							Рентабель<br>ность
						</span>
					</div>
				</div>
			</div>


			<div class="js-m-accordeon">
				<button class="calculator__btn-slide js-m-accordeon-btn xs-only">Преимущества статуса</button>
				<!-- begin calculator__desc -->
				 <div class="calculator__desc">
					<div class="calculator-item wow fadeInUp calculator-item--opt" data-wow-delay="0.3s">
						Отсрочка платежа до 14 дней  <br>
						Приоритет на сборку 3 степени <br>
						Гарантийные обязательства
					</div>
					<div class="calculator-item wow fadeInUp calculator-item--opt" data-wow-delay="0.6s">
						Персональный менеджер

						<div class="box-info">
							Моментальная обработка заявок
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									При работе с уникальными кодами. Ваш заказ начнет собираться через 180 секунд после оформления заказа.
								</div>
							</div>
						</div>
					</div>
					<div class="calculator-item wow fadeInUp calculator-item--opt" data-wow-delay="0.9s">
							<div class="box-info">
							Программа складского остатка на 90 дней
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Фирменная полиграфия
					</div>
					<div class="calculator-item calculator-item--diler is-hidden" data-wow-delay="0.3s">
						Отсрочка платежа до 30 дней  <br>
						Приоритет на сборку 2 степени <br>
						Гарантийные обязательства <br>
						<div class="box-info">
							Бесплатная доставка
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Дилерский прайс
					</div>
					<div class="calculator-item calculator-item--diler is-hidden" data-wow-delay="0.6s">
						Персональный менеджер  <br>
						<div class="box-info">
							Моментальная обработка заявок
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Онлайн обучение персонала <br>
						Мотивация Бернд-менеджеров <br>
						Свой экспедитор в Балаково
					</div>
					<div class="calculator-item calculator-item--diler is-hidden" data-wow-delay="0.9s">
						<div class="box-info">
							Программа складского остатка на 90 дней
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Фирменная полиграфия <br>
						Комплексная консультация маркетолога <br>
						Фирменные промостенды <br>
						Совместные рекламные акции <br>
						Эксклюзивная полиграфия
					</div>
					<div class="calculator-item calculator-item--dilerplus is-hidden" data-wow-delay="0.3s">
						Отсрочка платежа до 45 дней   <br>
						Приоритет на сборку 1 степени <br>
						Гарантийные обязательства <br>
						<div class="box-info">
							Бесплатная доставка
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Дилерский прайс <br>
						Эксклюзивная география продаж
					</div>
					<div class="calculator-item calculator-item--dilerplus is-hidden" data-wow-delay="0.6s">
						Персональный менеджер 24/7   <br>
						<div class="box-info">
							Моментальная обработка заявок
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Онлайн обучение персонала <br>
						Мотивация Бернд-менеджеров <br>
						Свой экспедитор в Балаково <br>
						Обучение персонала в Вашем городе <br>
						Больше чем бонусная программа
					</div>
					<div class="calculator-item calculator-item--dilerplus is-hidden" data-wow-delay="0.9s">
						<div class="box-info">
							Программа складского остатка на 90 дней
							<div class="dropdown">
								<div class="dropdown__inner">
									<i class="fal fa-times dropdown__close"></i>
									Условия участия в программе обсуждаются только с персональным менеджером после оформления минимального заказа.
								</div>
							</div>
						</div>
						Фирменная полиграфия <br>
						Комплексная консультация маркетолога <br>
						Фирменные промостенды <br>
						Совместные рекламные акции <br>
						Эксклюзивная полиграфия
					</div>
				</div><!-- end calculator__desc -->
			</div>

		</div>
	</section>
	<!-- end calculator -->

	<!-- begin info -->
	<section class="section info">
		<div class="container">
			<div class="info__inner">
				<div class="info__left">
					<div class="info__slider m-slider m-slider--info">
						<div class="m-slider__dots"></div>
						<div class="info__slides m-slider__slides js-slider">
							<!-- begin info__slide -->
							<div class="info__slide m-slider__slide">
								<img src="img/sliders/info/1.jpg" alt>
								<div class="m-slider__text m-slider__text--center">
									<div class="m-slider__title">Свой экспедитор в
										<br>Балаково</div>
									<div class="m-slider__desc">Погрузка, доставка, межтерминальное хранение без очередей и расходов на водителей.</div>
								</div>
							</div><!-- end info__slide -->
						</div>
					</div>
				</div>
				<div class="info__right">
					<div class="info__slider m-slider m-slider--info">
						<div class="m-slider__dots"></div>
						<div class="info__slides m-slider__slides js-slider">
							{% for i in range(0, 3) %}
							<!-- begin info__slide -->
							<div class="info__slide m-slider__slide">
								<img src="img/sliders/info/2.jpg" alt>
								<div class="m-slider__text m-slider__text--center">
									<div class="m-slider__title">Бесплатная доставка до
										<br>Вашего склада</div>
									<div class="m-slider__desc">Погрузка, доставка, межтерминальное хранение без очередей и расходов на водителей.</div>
								</div>
							</div><!-- end info__slide -->
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end info -->

	<!-- begin jurnal -->
	<section class="section jurnal">
		<div class="container">
			<div class="page-title__wrap">
				<div class="page-title__in">
					<h2 class="h2 page-title">Михельсон журнал</h2>
					<span class="page-title__sub">Полезные статьи о бизнесе.</span>
				</div>
				<a class="btn-link page-title__btn" href="jurnal.html">Все статьи</a>
			</div>

			<!-- begin article__wrap -->
			 <div class="article__wrap">
				 {% for i in range(0, 3) %}
				<!-- begin article -->
				<article class="article" href="jurnal-article.html">
					<span class="article__date">24.07.2018</span>
					<p class="article__text">Наставники из Екатеринбурга приняли участие в первой интеллектуальной игре «Что? Где? Когда?»</p>
					<a href="jurnal-article.html" class="article__link btn-link">Подробнее</a>
				</article><!-- end article -->
				  {% endfor %}
			</div><!-- end article__wrap -->

			<a class="btn-link xs-only" href="#">Все статьи</a>
		</div>
	</section>
	<!-- end jurnal -->

	<!-- begin reviews -->
	<section class="section reviews">
		<div class="container">
			<div class="reviews__slider m-slider m-slider--reviews">
				<div class="m-slider__dots"></div>
				<div class="reviews__slides m-slider__slides js-slider">
					<div class="reviews__slide m-slider__slide">
						<picture class="m-slider__image">
							<source media="(max-width: 480px)" srcset="img/sliders/reviews/480/reviews.jpg">
							<source media="(max-width: 768px)" srcset="img/sliders/reviews/768/reviews.jpg">
							<img class="firstscreen__img" src="img/sliders/reviews/1200/reviews.jpg" alt="alt">
						</picture>
						<div class="m-slider__text m-slider__text--center">
							<div class="m-slider__title">Персональный менеджер всегда на связи</div>
							<div class="m-slider__desc">Никаких звонков на горячую линию <br> и поисков писем на почте, мы на <br> связи в Viber/WhatsApp</div>

							<a class="btn btn--black" data-toggle="modal" href="#cooperation"> Оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end reviews -->

</main>
<!-- end home -->

{% endblock %}
