---
title:: Журнал статья
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<main class="main jurnal">
		<!-- begin nav -->
		<nav class="nav nav--icon js-jurnal-nav">
			<div class="container">
				<ul class="nav__list">
					{% import "data/data.html" as nav %}
					{% for item in nav.jurnalTopMenu %}
					<li class="nav__item {{item.class}} {{item.jsClass}}">
						<a href="javascript:void(0);" class="nav__link">
							<i class="fal {{item.icon}} nav__icon"></i>
							<span class="nav__text">{{item.title}}</span>
						</a>
					</li>
					{% endfor %}
					<li class="nav__item nav__item--last">
						<a href="#" class="btn-link">Все статьи</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end nav -->

	<div class="container container--sm">
		<div class="jurnal-article">

			<div class="jurnal-article__info">
				<div class="jurnal-article__date">04 мая 2018</div>
				<div class="jurnal-article__time">8 просмотров</div>
			</div>

			<h1 class="h1 jurnal-article__title">Из пресса в топы!</h1>

			<p class="jurnal-article__text">Буквально 2 недели назад мы выложили новость о выходе новинки — автобаферов серии comfort, а уже сегодня желтые вставки в пружины стали одними из самых покупаемых в нашем интернет магазине.</p>

			<p class="jurnal-article__text">Рассказываем как нам удалось совместить надежность и комфорт в том, что должно быть жестким.</p>

			<img src="img/jurnal/article/1.png" alt="alt" class="jurnal-article__img">

			<h3 class="h3 jurnal-article__subtitle">Технологии</h3>

			<p class="jurnal-article__text">Наш автобафер изготовлен из высококачественного полиуретана, что уже отличает его от резиновых аналогов. Опытные автолюбители понимают разницу в материалах и уже успели полюбить материал 21 века. Полиуретан не стареет, не подвержен разрушению и выдерживает более серьезные нагрузки, в отличии от резины.</p>

			<p class="jurnal-article__text">НО! В составе новых автобаферов используется не просто полиуретан, а новая формула, с дополнительным набором присадок. В итоге мы получаем материал, который лучше выдерживает нагрузки на сжатие, растяжение и скручивание.</p>

			<p class="jurnal-article__text">Помимо состава, мы используем уникальную форму! Вставки не выпадают сами по себе (даже при максимальном разжатии пружины) и их не нужно «колхозить» с помощью строительных стяжек. В самом бафере есть технологические углубления, но не отверстия, что способствует более длительному разрушению, но без потери энергоемкости. (форму разрабатывали профессиональные инженеры-технологи).</p>

			<img src="img/jurnal/article/2.png" alt="alt" class="jurnal-article__img">

			<h3 class="h3 jurnal-article__subtitle">Серия COMFORT</h3>

			<p class="jurnal-article__text">Само название серии говорит само за себя. Фирменный цвет серии — желтый. Данная серия автозапчастей имеет жесткость 60-65 ShA. Если говорить «по-русски» — жесткость близкая к стандартной, но несколько мягче.</p>

			<p class="jurnal-article__text">Но чтобы автобафер прослужил долго и выдерживал серьезные нагрузки, он должен быть жестким и упругим. По этой причине долгое время мы не выпускали автобаферы серии COMFORT (были только серии DRIVE). Как описано выше, вопрос с небольшим ресурсом и износостойкостью был решен с помощью новейшего состава, теперь мы имеем мягкие, комфортные вставки, которые прослужат дольше стандартных из резины или твердого полиуретана.</p>

			<p class="jurnal-article__text">Помимо состава, мы используем уникальную форму! Вставки не выпадают сами по себе (даже при максимальном разжатии пружины) и их не нужно «колхозить» с помощью строительных стяжек. В самом бафере есть технологические углубления, но не отверстия, что способствует более длительному разрушению, но без потери энергоемкости. (форму разрабатывали профессиональные инженеры-технологи).</p>


			<h3 class="h3 jurnal-article__subtitle">Производство и испытания</h3>

			<p class="jurnal-article__text">Прежде чем автобаферы пошли в серийное производство, мы провели тщательные испытания не только в лаборатории, но и в поле.</p>

			<img src="img/jurnal/article/3.png" alt="alt" class="jurnal-article__img">

			<p class="jurnal-article__text">Наш спортивный автомобиль прошел более 1000 км по СУ (спец участкам) на ралли рейдах. Тот, кто увлекается ралли спортом, знает — не выдерживает даже металл, рвется как бумага после сильнейших ударов на скорости.</p></h3>

			<p class="jurnal-article__text">За несколько недель до анонса и производства крупной партии, мы извлекли автобафер из боевого автомобиля и удивились — форма сохранилась на 96% (до этого сохранялась лишь на 80%), ни одной трещины и излома.</p>

			<p class="jurnal-article__text">Если говорить о испытаниях на стандартных, классических автомобилях, то тут результаты намного лучше, т.к. и нагрузок серьезных нет — но это другая история.</p>

			<p class="jurnal-article__text">На данный момент производство автобаферов COMFORT запущено на полную мощность, т.к. спрос в интернет-магазине и у официальны дилеров стремительно растет. Стоимость комплекта всего 400 рублей, а не 1600-2000, как у зарубежных производителей.</p>


			<div class="jurnal-article__slider m-slider">
				<div class="m-slider__dots m-slider__dots--jurnal"></div>
				<div class="jurnal__slides m-slider__slides js-jurnal-slider">
					{% for i in range(1, 4) %}
					<div class="jurnal__slide m-slider__slide">
						<img src="img/jurnal/article/{{i}}.png" alt="alt">
					</div>
					{% endfor %}
				</div>
			</div>

			<ul class="jurnal-pag jurnal__pag">
				<li class="jurnal-pag__item jurnal-pag__item--left">
					<a href="#" class="jurnal-pag__link">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</a>
				</li>
				<li class="jurnal-pag__item jurnal-pag__item--right">
					<a href="#" class="jurnal-pag__link">Комплекты патрубков серии Profi теперь в нашем интернет-магазине!</a>
				</li>
			</ul>

		</div>


	</div>

</main>
<!-- end home -->

{% endblock %}
