---
title: Попап окна на сайте
---

{% extends "layouts/_layout.html" %}

{% block content %}

	<style>
		.main{padding: 100px;}
		h1{display: block;	margin-bottom: 50px;}
		.popup__list a{display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;}
		.popup__list a:hover{color: #2d6cb4;text-decoration: underline;}
		.footer {display: none;}
		ol {margin-left: 22px !important;}
		ol li {list-style-type: initial;}

		@media screen and (max-width: 480px){
			main{margin: 10px;}
		}

		@media (max-width: 1024px) {
			.main {padding: 100px 50px;}
			h1 {margin-bottom: 30px;}
			.popup__list {padding: 0;}
		}

		@media (max-width: 480px) {
			.main {	margin: 0;	padding: 20px 10px;	}
			.popup__list a {display: block;}
		}
	</style>

<main>

	<div class="container">

			<h1>{{title}}</h1>

			<ol class="container popup__list">
				<li class="popup__item">
					<a href="#cooperation"  data-toggle="modal">Заявка на сотрудничество</a>
				</li>
				<li class="popup__item">
					<a href="#nomenclature"  data-toggle="modal">Отправка нуменклатуры</a>
				</li>
			</ol>

	</div>

</main>
<!-- end home -->

{% endblock %}
