$breakpoints: (
    i5: 320px,
    i7: 375px,
    i8: 414px,
    xs: 425px,
    sm: 768px,
    md: 1024px,
    lg: 1200px
);

//z-index
$z-index: (
    bottom: -9999,
    down: -1,
    default: 1,
    success: 50,
    dropdown: 333,
    overlay: 999,
    modal: 1001
);

//FONT
$f: roboto-400, sans-serif;
$f-i: roboto-400i, sans-serif;
$f-c: roboto-400c, sans-serif;
$f-light: roboto-300, sans-serif;
$f-light-i: roboto-300i, sans-serif;
$f-light-c: roboto-300c, sans-serif;
$f-medium: roboto-500, sans-serif;
$f-medium-i: roboto-500i, sans-serif;
$f-medium-c: roboto-500c, sans-serif;
$f-bold: roboto-600, sans-serif;
$f-bold-i: roboto-600i, sans-serif;
$f-bold-c: roboto-600c, sans-serif;

$font-size-base: 16px;
$font-family-base: $f;
$line-height-base: 1.5;
$font-weight-base: 400;

//Отступы
$base-indent: 30px;
$half-indent: $base-indent / 2;
$section-indent: 70px;

$gutter: $base-indent;

//Base Variebles
$color-accent: #ffdd00;
$color-link: #74a3c7;
$color-link--hover: #1b55c3;

//gray
$gray--darkest: #242626;
$gray--darken: #353737;
$gray--dark: #e8e9eb;
$gray: #707070;
$gray--light: #afadad;
$gray--lighten: #e8e9eb;
$gray--lightest: #f9f9f9;

//text
$color-text: #000;

//bg
$color-bg--darkest: #000;
$color-bg--darken: #292929;
$color-bg--dark: #141414;
$color-bg: none;
$color-bg--light: $gray--light;
$color-bg--lighten: none;
$color-bg--lightest: none;

//border
$color-border--darkest: none;
$color-border--darken: none;
$color-border--dark: none;
$color-border: none;
$color-border--light: $gray--lighten;
$color-border--lighten: none;
$color-border--lightest: none;

$border-radius: 4px;

$color-icon: $gray;
$color-placeholder: #999;

//Тень
$bxs-hover: 0 5px 10px rgba(0, 0, 0, 0.26);

//button colors
$button-colors: (
    accent: $color-accent,
    black: $color-bg--dark
);

//Icons
$icon-instagram: '\f16d';
$icon-youtube: '\f167';
$icon-telegram: '\f3fe';
$icon-vk: '\f189';

$soc-icons: (
    instagram: $icon-instagram,
    youtube: $icon-youtube,
    telegram: $icon-telegram,
    vk: $icon-vk
);

//Modal Variebles
$modal-border-width: 1px;
$modal-border-color: #e8e8e8;
$border-radius: $border-radius;

$modal-box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.5) !default;

$modal-backdrop-bg: #000 !default;
$modal-content-bg: #fff !default;
$modal-backdrop-opacity: 0.4 !default;
$modal-header-padding: 1rem !default;
$modal-inner-padding: 20px !default;

$modal-md: 500px !default;
$modal-sm: 300px !default;
$modal-lg: 800px !default;

$transition-collapse: height 0.35s ease !default;
$transition-fade: opacity 0.15s linear !default;
