.error {

    &__wrap {
        padding: 100px 0 50px;
        @include flexCenter;
        @include respond-to(xs) {
            padding: 35px 0;
        }
    } //.error__wrap

    &__content {
        max-width: 860px;
        margin: auto;
        text-align: center;
    } //.error__content

    &__title {
        margin-bottom: 50px;
        font-family: $f-light;
        font-size: 200px;
        color: $gray;
        @include respond-to(md) {
            font-size: 150px;
        }
        @include respond-to(sm) {
            font-size: 120px;
        }
    } //.error__title

    &__text {
        font-size: 24px;
        line-height: 36px;
        color: $gray;
        @include respond-to(md) {
            font-size: 20px;
            line-height: 30px;
        }
        @include respond-to(sm) {
            font-size: 18px;
            line-height: 25px;
        }
    } //.error__text
} //.error
