.brands {
    padding-top: $gutter;

    @include respond-to(sm) {
        padding-top: $gutter * 3;
    }

    &__list {
        padding: $gutter * 1.5 0;
        @include row-flex;

        @include respond-to(sm) {
            padding: $gutter 0;
        }
    }//.brands__list

    &__item {
        @include col;
        @include size(3);
        @include size-xs(12);
        @include flexColumn;
    }//.brands__item

    &__link {
        display: block;
        margin-bottom: 20px;
    }//.brands__link

    .page-title{
        @include respond-to(xs) {
            text-align: left;
        }
    }
}//.brands
