.hero {
    margin-bottom: 80px;
    background-color: $color-bg--dark;
    @include respond-to(sm) {
        margin-bottom: 40px;
    }

    &__slide {
        height: 368px;
        @include respond-to(md) {
            padding: 0 $gutter;
            height: 375px;
        }
        @include respond-to(xs) {
            height: 407px;
        }
        @include respond-to(i8) {
            height: 391px;
        }
        @include respond-to(i7) {
            height: 358px;
        }
        @include respond-to(i5) {
            height: 300px;
        }
    } //.hero__slide

    .m-slider {

        &__text {
            @include respond-to(md) {
                left: 10px;
            }
            @include respond-to(sm) {
                left: 30px;
            }
        }

        .slick-arrow {

            &.slick-next {
                right: 10px;
                @include respond-to(sm) {
                    right: 30px;
                }
            }

            &.slick-prev {
                right: 50px;
                @include respond-to(sm) {
                    right: 80px;
                }
            }
        }

        .slick-dots {
            right: 10px;
            @include respond-to(sm) {
                right: 30px;
            }
        }
    }

    .container {
        padding: 0;
    }
} //.hero

.info {

    &__inner {
        @include flex;
        @include respond-to(xs) {
            flex-wrap: wrap;
        }
    } //.info__inner

    &__left,
    &__right {
        width: 50%;
        @include respond-to(xs) {
            width: 100%;
        }
    } //.infoo__left

    &__left {
        margin-right: 5px;
        @include respond-to(xs) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__right {
        margin-left: 5px;
        @include respond-to(xs) {
            margin-left: 0;
        }
    }
} //.info

.reviews {

    &__slider {
        background-image: linear-gradient(
            111deg,
            #dbe6f1 0%,
            $gray--lighten 100%
        );
    } //.reviews__slider

    &__slide {
        height: 500px;
        margin-bottom: -7px;
        @include respond-to(xs) {
            height: 650px;
            margin-bottom: 0;
        }
    } //.reviews__slide

    &__img {
        max-width: 425px;
        position: absolute;
        bottom: 0;
        right: 100px;
        @include respond-to(sm) {
            max-width: 375px;
            right: -30px;
        }
        @include respond-to(xs) {
            max-width: 100%;
            right: auto;
            left: 50%;
            @include tX(-50%);
        }
    } //.reviews__img

    .m-slider {
        &__text {
            @include respond-to(sm) {
                max-width: 320px;
                left: 30px;
            }
        }
    }
} //.reviews

.jurnal {
    .btn-link {
        &.xs-only {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    }
} //.jurnal

.article {
    padding: 30px;
    border: 1px solid $gray--lighten;
    border-radius: $border-radius;

    @include respond-to(sm) {
        margin-bottom: 10px;
        padding: 10px 15px;
    }

    &__wrap {
        @include row-flex;

        .article {
            @include col;
            @include size(4);
            @include size-sm(12);
        }
    } //.article__wrap

    &__date {
        display: block;
        margin-bottom: 20px;
        color: $gray;
        font-family: $f-light;
        font-size: 16px;
    } //.article__date

    &__text {
        display: block;
        margin-bottom: 20px;
        color: $color-text;
    } //.article__text

    &__link {
        @include respond-to(sm) {
            display: none;
        }
    }//.artivle__link
} //.article
