.hero {
    margin-bottom: 80px;
    background-color: $color-bg--dark;
    @include respond-to(md) {
        margin-bottom: $gutter;
    }

    &__slide {
        min-height: 420px;
        @include cover;

        @include respond-to(lg) {
            background-size: cover;
        }

        @include respond-to(md) {

            padding: 0 $gutter;
            min-height: 320px;
        }

        @include respond-to(xs) {
            padding: 0 $gutter / 2;
            background-image: none;
        }
    } //.hero__slide

    .m-slider {

        &__text {
            @include respond-to(md) {
                padding-top: $gutter;
                left: 10px;
            }
            @include respond-to(sm) {
                left: 30px;
            }
        }

        .slick-arrow {

            &.slick-next {
                right: 18%;
                @include respond-to(lg) {
                    right: 2%;
                }
                @include respond-to(xs) {
                    right: 10px;
                }
            }

            &.slick-prev {
                right: 20%;
                @include respond-to(lg) {
                    right: 6%;
                }
                @include respond-to(xs) {
                    right: 50px;
                }
            }
        }

        .slick-dots {
            right: 18%;
            @include respond-to(lg) {
                right: 2%;
            }
        }
    }

} //.hero

.calculator {

    .container {
        max-width: 1050px;
    }

    &__desc {
        margin: $gutter 0 0;
        @include row-flex();

        .calculator-item {
            @include col;
            @include size(4);
            @include size-sm(6);
            @include size-xs(12);

            @include respond-to(sm) {
                margin-bottom: $gutter;
            }
        }
    } //.calculator__desc

    &__in {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include respond-to(xs) {
            flex-direction: column;
        }
    } //.calculator__in

    &__slider {
        flex: 1;

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: $gutter;
            padding: 0 10px;
        }
    } //.calculator__slider

    &__result {
        width: 30%;
        margin-left: 120px;

        @include respond-to(sm) {
            width: 35%;
            margin-left: $gutter * 2;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 20px;
            margin-left: 0;
        }
    } //.calculator__result

    &__info {
        color: $gray--light;
        font-family: $f-light;
        font-size: 12px;
    } //.calculator__info

    &--sum,
    &--status {
        margin-bottom: $gutter * 1.5;
    } //.calculator--status

    &__btn-slide {
        @extend .btn-link;
        margin: auto auto 20px;
        font-size: 16px;
        color: $color-text;
        white-space: nowrap;
        position: relative;
        outline: none;

        &::before {
            content: '\f055';
            margin-right: 7px;
            font-family: faL;
        }

        &::after {
            display: none;
        }
    }
} //.calculator

.calculator-item {
    font-size: 14px;

    .box-info {
        margin: -5px 0 -1px;
    }
} //.calculator-item

.calculator-result {
    margin-top: -7px;
    position: relative;

    @include respond-to(xs) {
        text-align: center;
    }

    &__sum {
        margin-bottom: 10px;

        span {
            margin-right: 10px;
            font-size: 36px;
            line-height: 1;
            color: $color-text;
        }

        i {
            font-size: 20px;
        }

        small {
            color: $color-text;
            font-size: 14px;
        }
    } //.calculator-result__sum

    &__sale {
        width: 80px;
        height: 80px;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        border-radius: 50%;
        background-color: $color-accent;
        position: absolute;
        bottom: 50px;
        left: 165px;
        z-index: z(default);
        cursor: default;
        @include flexColumn;
        align-items: center;
        justify-content: center;

        @include respond-to(xs) {
            bottom: 50px;
            left: 275px;
        }

        span {
            font-family: $f-medium;
            font-size: 27px;
            line-height: 1.2;
        }
    } //.calculator-result__sale

    .btn {
        min-width: 200px;
        margin-bottom: 10px;

        @include respond-to(xs) {
            padding: 10px 50px;
        }
    }

    .btn-link {
        display: block;
    }
} //.calculator-result

#calculator-status {
    .noUi-handle {
        pointer-events: none;
    }
}

.dropdown {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
    display: inline-flex;

    &:hover,
    &.is-active {

        .dropdown {

            &__inner {
                display: block;
            }
        }
    }

    &::after {
        content: '\f05a';
        font-family: faS;
        font-size: 18px;
        color: #bbb;
        margin: auto;
        cursor: help;
    }

    &__inner {
        display: none;
        min-width: 300px;
        padding: 30px;
        font-family: $f-light;
        font-size: 14px;
        background-color: #fff;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.26);
        position: absolute;
        top: -155px;
        left: -238px;
        z-index: z(default);

        &::after {
            content: '';
            @include arr(40, 15, #fff, b);
            position: absolute;
            right: 30px;
            bottom: -10px;
        }
    } //.dropdown__inner

    &__close {
        display: none;
        font-size: 18px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: $gray--light;
        cursor: pointer;

        &:hover {
            color: $gray;
        }
    }

    &.center {

        .dropdown__inner {

            &::after {
                @include vx;
            }
        }
    }

    &.left {

        .dropdown__inner {

            &::after {
                right: auto;
                left: 30px;
            }
        }
    }
} //.dropdown

.info {

    &__inner {
        @include flex;
        @include respond-to(xs) {
            flex-wrap: wrap;
        }
    } //.info__inner

    &__left,
    &__right {
        width: 50%;
        @include respond-to(xs) {
            width: 100%;
        }
    } //.infoo__left

    &__left {
        margin-right: 5px;
        @include respond-to(xs) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__right {
        margin-left: 5px;
        @include respond-to(xs) {
            margin-left: 0;
        }
    }
} //.info

.reviews {

    &__slider {
        // background-image: linear-gradient(
        //     111deg,
        //     #dbe6f1 0%,
        //     $gray--lighten 100%
        // );
        overflow: hidden;
    } //.reviews__slider

    &__slide {
        height: 550px;
        margin-bottom: -7px;
        @include cover;
        @include respond-to(sm) {
            height: 355px;
        }
        @include respond-to(xs) {
            height: 600px;
            margin-bottom: 0;
        }
    } //.reviews__slide

    &__img {
        max-width: 500px;
        position: absolute;
        bottom: 0;
        right: 150px;
        @include respond-to(sm) {
            max-width: 375px;
            right: 10px;
        }
        @include respond-to(xs) {
            max-width: 100%;
            right: auto;
            left: auto;
            @include tX(0);
        }
    } //.reviews__img

    &__badge {
        position: absolute;
        top: -100px;
        right: -50px;

        @include respond-to(sm) {
            right: 35px;
        }

        @include respond-to(xs) {
            right: -35px;
        }
    } //.reviews__badge

    .m-slider {

        &__text {
            @include respond-to(sm) {
                max-width: 320px;
                left: 30px;
            }
        }
    }
} //.reviews

.article {
    padding: 30px;
    border: 1px solid $gray--lighten;
    border-radius: $border-radius;
    @include nosel;

    @include respond-to(sm) {
        margin-bottom: 10px;
        padding: 10px 15px;
    }

    &__wrap {
        @include row-flex;

        .article {
            @include col;
            @include size(4);
            @include size-sm(12);
        }
    } //.article__wrap

    &__date {
        display: block;
        margin-bottom: 20px;
        color: $gray;
        font-family: $f-light;
        font-size: 16px;
    } //.article__date

    &__text {
        display: block;
        margin-bottom: 20px;
        color: $color-text;
    } //.article__text

    &__link {
        @include respond-to(sm) {
            display: none;
        }
    } //.artivle__link
} //.article
