.jurnal {

    &__top-line {
        margin-bottom: $gutter;
        @include respond-to(xs) {

            .m-input {

                &__wrap {
                    flex-wrap: wrap;

                    &_title {
                        margin-bottom: $gutter / 2;
                    }
                }
            }
        }
    } //.jurnal__top-line

    &__input {
        margin-bottom: 0;

        @include respond-to(xs) {
            width: 45%;
        }
    } //.jurnalinput

    &__pag {
        margin-bottom: $gutter * 2;

        @include respond-to(xs) {
            margin-bottom: $gutter;
        }
    } //.jurnal__pag

    &.theme-dark {
        color: #b8b8b8;
        background-color: #111;

        .jurnal-article {

            &__title,
            &__text,
            &__subtitle {
                color: #b8b8b8;
            }

            &__text {
                color: #a3a3a3;
            }
        }

        .nav--icon.is-fixed {
            border-top: 0;
            background-color: #111;
            box-shadow: 0 1px 30px rgba(#000, 0.5);
        }
    } //.jurnal.theme-dark

    .btn-link {

        &.xs-only {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
    } //.jurnal .btn-link
} //.jurnal

.jurnal-article {
    font-family: pt-400, serif;
    font-size: 19px;

    &__info {
        @include flexCenter;
    }

    &__date,
    &__time {
        margin: $gutter $gutter $gutter 0;
        color: $gray;
        font-family: $f;
        font-size: 14px;
    } //.jurnal-article__date

    &__title {
        margin-top: 10px;
        margin-bottom: $gutter;
        color: $color-text;
        font-family: $f-medium;
        font-weight: 500;
        font-size: 40px;
    } //.jurnal-article__title

    &__text {
        display: block;
        margin-top: 12px;
        margin-bottom: 0;
        color: $color-text;
        font-size: 19px;
        line-height: 1.5;
    } //.jurnal-article__text

    &__img {
        display: block;
        margin-top: $gutter;
        margin-bottom: $gutter;
    } //.jurnal-article__img

    &__subtitle {
        margin-top: 40px;
        margin-bottom: 0;
        color: $color-text;
        font-family: $f-medium;
        font-weight: 500;
        font-size: 27px;
    } //.jurnal-article__subtitle

    &__slider {
        margin-top: $gutter;
        margin-bottom: $gutter;

        .slick-arrow {

            &.slick-prev {
                right: 50px;
            }

            &.slick-next {
                right: 15px;
            }
        }

        .slick-dots {
            top: 20px;
            right: 20px;

            li {
                padding: 0 7px;
                font-size: 13px;
                font-family: $f-light;
                background-color: rgba(#000, 0.7);
                border-radius: $border-radius;
            }
        }
    }
} //.jurnal-article

.jurnal-pag {
    padding: $gutter 0;
    @include flex;

    @include respond-to(xs) {
        flex-direction: column;
    }

    &__item {
        max-width: 260px;
        font-size: 15px;
        position: relative;

        @include respond-to(xs) {
            max-width: 100%;
            margin-bottom: $gutter;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &::before {
            font-family: faL;
            color: $color-link;
            font-size: 23px;
            @include vy;
        }

        &--left {
            padding-left: 30px;

            &::before {
                content: '\f104';
                left: 0;
            }
        }

        &--right {
            margin-left: auto;
            padding-right: 30px;
            text-align: right;

            &::before {
                content: '\f105';
                right: 0;
            }
        }
    } //.jurnal-pag__item
} //.jurnal-pag

.firstscreen {
    margin-bottom: $gutter;
    @include cover;
    position: relative;

    &__inner {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: auto;
        @include vx;
        top: 0;
    } //.firstscreen__inner

    &__text {
        @include vy;
        left: 0;

        @include respond-to(md) {
            left: 55px;
        }
        @include respond-to(xs) {
            left: 15px;
        }
    } //.firstscreen__text

    &__title {
        margin-bottom: $gutter / 2;
        font-size: 40px;
        font-family: $f-medium;
        font-weight: 500;
    } //.firstscreen__title

    &__subtitle {
        max-width: 400px;
        margin-bottom: $gutter;
        font-size: 16px;
        font-family: $f;
        font-weight: 300;
        line-height: 1.5;

        @include respond-to(xs) {
            max-width: 300px;
        }
    } //.firstscreen__subtitle

    .container {
        position: relative;
    }
} //.firstscreen

.jurnal-item {
    display: block;
    padding: 25px $gutter;
    border: 1px solid $gray--lighten;

    @include respond-to(sm) {
        padding: 10px 20px;
        border-right-color: transparent;
        border-left-color: transparent;
    }

    &:hover {
        background-color: $gray--lighten;
    }

    & + & {
        border-top-color: transparent;
    }

    &__wrap {
        @include respond-to(sm) {

            .container {
                padding: 0;
            }
        }
    } //.jurnal-item__wrap

    &__date {
        color: $gray;
        font-size: 14px;
    } //.jurnal-item__date

    &__title {
        color: $color-text;
        font-size: 16px;
    } //.jurnal-item__title
} //.jurnal-item
