.agreement {
    margin-bottom: $gutter;
    padding-top: $gutter;
    font-size: 15px;
    color: #000;

    span {
        display: block;
        margin-bottom: 5px;
    }

    ul {
        margin-bottom: 15px;

        li {
            margin-bottom: 5px;
        }
    }

    .page-title {
        margin-bottom: $gutter;

        @include respond-to(xs) {
            margin-top: 30px;
            font-size: 23px;
            text-align: left;
        }
    }

    .h3 {
        margin-bottom: $gutter / 2;

        @include respond-to(xs) {
            font-size: 20px;
        }
    }
}
//privacy
