.unicode {

    &__firstscreen {
        margin-bottom: 70px;

        @include respond-to(xs) {
            margin-bottom: $gutter;
        }
    } //.unicodefirstscreen

    &__title {
        margin-bottom: $gutter / 2;
        font-family: $f-medium;
        color: $color-text;
        font-size: 27px;
        line-height: 1.4;
        font-weight: 500;

        &-wrap {
            margin-bottom: 45px;
            text-align: center;
        }
    } //.unicode__title

    &__subtitle {
        margin-bottom: 0;
        font-family: $f-light;
        color: $color-text;
        font-weight: 300;
    } //.unicode__subtitle

    .reviews {

        &__slider {
            background-image: none;
            background-color: $color-bg--lightest;
        }

        &__img {
            top: 25%;
            bottom: auto;

            @include respond-to(xs) {
                max-width: 80%;
                margin: $gutter * 4 auto 0;
                position: relative;
                top: auto;
                @include tY(0);
            }
        }

        .m-slider__text--center {
            @include respond-to(xs) {
                padding-top: 15%;
            }
        }
    }
} //.unicode

.adv {
    margin-bottom: 50px;

    @include respond-to(xs) {
        margin-bottom: 0;
    }

    &__items {
        @include row-flex;

        @include respond-to(sm) {
            flex-direction: column;
        }

        .item-icon {
            border: 1px solid $color-border--light;
            @include col;
            @include size(4);
            @include size-sm(12);

            @include respond-to(sm) {
                max-width: 320px;
                margin: 0 auto $gutter;
            }
        }
    } //.adv__items
} //.adv

.send {
    margin-bottom: 0;

    &__items {
        @include row-flex;

        @include respond-to(xs) {
            flex-direction: column;
        }

        .item-icon {
            border: 0;
            @include col;
            @include size(4);
            @include size-xs(12);

            @include respond-to(sm) {
                padding: $gutter 0;
            }
        }
    }

    .item-icon {
        position: relative;

        @include respond-to(xs) {
            padding: 0;

            &::before,
            &::after {
                display: none;
            }
        }

        &::before,
        &::after {
            content: '';
            display: block;
            height: 5px;
            width: 39%;
            background-color: $gray--lighten;
            position: absolute;
            top: 80px;
            @include respond-to(sm) {
                width: 35%;
            }
        }

        &::before {
            left: -20px;
            @include respond-to(sm) {
                left: -16px;
            }
        }

        &::after {
            right: -19px;
            @include respond-to(md) {
                right: -20px;
            }
            @include respond-to(sm) {
                right: -16px;
            }
        }

        &:first-child {

            &::before {
                display: none;
            }
        }

        &:last-child {

            &::after {
                display: none;
            }
        }

        &.is-checked {

            &::before,
            &::after {
                background-color: $color-accent;
            }

            .item-icon__inner {
                background-color: $color-accent;
            }
        }
    }
}

.item-icon {
    margin-bottom: $gutter;
    padding: $gutter;
    text-align: center;
    @include nosel;

    &__inner {
        width: 100px;
        height: 100px;
        margin: 0 auto $gutter;
        background-color: $gray--lighten;
        border-radius: 50%;
        @include flexCenter;

        .item-icon__icon {
            margin: auto;
        }
    }

    &__in {
        width: 90px;
        height: 90px;
        margin: auto;
        background-color: #fff;
        border-radius: 50%;
        @include flexCenter;
    } //.item-icon__in

    &__icon {
        width: 55px;
        height: 55px;
        margin-bottom: $gutter / 2;
        fill: #000;
    } //.item-icon__icon

    &__title {
        display: block;
        margin-bottom: $gutter / 2;
        font-family: $f-medium;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    } //.item-icon__title
} //.item-icon

.section-bg {
    margin-bottom: 80px;
    padding: $gutter * 4;
    @include cover;

    @include respond-to(xs) {
        margin-bottom: $gutter;
        padding: $gutter;
    }

    &__text {
        max-width: 405px;
        text-align: center;

        @include respond-to(sm) {
            margin: auto;
        }
    } //.section-bg__tex

    &__title {
        margin-bottom: 45px;
        font-family: $f-medium;
        font-size: 27px;
        line-height: 1.3;
        font-weight: 500;
    } //.section-bg__title

    &__desc {
        margin-bottom: $gutter * 1.5;
    } //.section-bgg__desc
} //.section-bg
