<!-- begin footer -->
<footer class="footer">
	<!-- begin footer__top -->
	 <div class="footer__top">
		<div class="container">
			<div class="footer__in">
				<ul class="footer__item">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Логистика</a></li>
					<li><a href="#">Оплата </a></li>
				</ul>
				<ul class="footer__item">
					<li><a href="#">Журнал</a></li>
					<li><a href="#">Все бренды</a></li>
					<li><a href="#">Сертификаты (.pdf)</a></li>
					<li><a href="#">Гарантийные обязательства</a></li>
					<li><a href="#">Политика конфиденциальности</a></li>
				</ul>
				<ul class="footer__item">
					<li><a href="#">Балаково запчасть</a></li>
					<li><a href="#">CS-20</a></li>
					<li><a href="#">РТИ АВТО</a></li>
					<li><a href="#">БРТИ</a></li>
				</ul>
				<div class="footer__item no-hide">
					<div class="box-center">
						<div class="phone phone--icon">
							<a href="#" class="phone__link" itemprop="telephone">8 800 555 25 40</a>
							<span class="phone__text">Звонок бесплатный</span>
						</div>

						<a href="#cooperation" class="btn btn--black" data-toggle="modal"> Стать дилером</a>

						{% include "partials/components/_socialLink.html" %}
					</div>
				</div>
			</div>
		</div>
	</div><!-- end footer__top -->

	<!-- begin footer__bottom -->
	 <div class="footer__bottom">
		<div class="container">
			<div class="footer__in">
				<div class="footer__item">
					<ul class="footer__list pb-22">
						<li><a href="/"><strong>Компания Михельсон</strong></a></li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Режим работы:</strong>
							<span>Пн - Сб 8:00 - 17:00</span>
							<span>Вс - выходной</span>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Обед: </strong>
							<span>13:00 - 14:00</span>
						</li>
					</ul>
					<ul class="footer__list no-hide">
						<p class="copyright">© Михельсон, 1993-2018 <br>Все права защищены</span></p>
					</ul>
				</div>

				<div class="footer__item">
					<ul class="footer__list">
						<li>
							<strong>Бесплатный телефон:</strong>
							<a href="tel:88005552540">
								<span>8 (800) 555-25-40</span>
							</a>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Городской телефон:</strong>
							<a href="tel:88453631067"></a><span>+7 (8453) 63-10-67</span></a>
							<a href="tel:88453683288"></a><span>+7 (8453) 68-32-88</span></a>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Мобильный телефон:</strong>
							<a href="tel:89962100000">
								<span>+7 (996) 210-00-00</span>
							</a>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Электронная почта:</strong>
							<a href="mailto:info@mikhelson.ru">
								<span>info@mikhelson.ru</span>
							</a>
						</li>
					</ul>
				</div>

				<div class="footer__item">
					<ul class="footer__list">
						<li>
							<strong>Адрес производства:</strong>
							<span>413840, рф Саратовская область, <br>г. Балаково, ул. Транспортная, 7/5</span>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Адрес склада:</strong>
							<span>413840, рф Саратовская область, <br>г. Балаково, ул. Транспортная, 6/1</span>
						</li>
					</ul>
					<ul class="footer__list">
						<li>
							<strong>Адрес офиса:</strong>
							<span>413840, рф Саратовская область, <br>г. Балаково, ул. Факел Социализма, 24</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- end footer__bottom -->
</footer><!-- end footer -->
