<!-- begin header -->
<header class="header {{headerClass}}">

	<!-- begin header__top -->
	<div class="header__top">
		<div class="container">
			<div class="header__inner">

				<!-- begin logo -->
				<div class="logo header__logo">
					<a href="/" class="logo__link">Михельсон</a>
				</div>
				<!-- end logo -->

				{% include "partials/_nav-top.html" %}

				<div class="header__search sm-hide">
					{% include "partials/_search.html" %}
				</div>

				{{item.btn('Cтать дилером', 'btn--black sm-hide')}}

			</div>
		</div>
	</div>
	<!-- end header__top -->

	<!-- begin header__bottom -->
	<div class="header__bottom">
		<div class="container">
			<div class="header__inner">
				<!-- begin nav -->
				<nav class="nav nav--bottom sm-hide">
					<ul class="nav__list">
						{% import "data/data.html" as nav %} {% for item in nav.mainMenu %}
						<li class="nav__item">
							<a href="#" class="nav__link">{{item.title}}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				<!-- end nav -->
			</div>
		</div>
	</div>
	<!-- end header__bottom -->


	<!-- begin mobile-toggle-btn -->
	<div class="js-nav-toggle menu-toggle">
		<div class="menu-toggle__boxes">
			<span class="menu-toggle__box"></span>
			<span class="menu-toggle__box"></span>
			<span class="menu-toggle__box"></span>
			<div class="menu-toggle__box--other"></div>
		</div>
	</div>
	<!-- end mobile-toggle-btn -->

	{% include "partials/_mobile-menu.html" %}

</header>
<!-- end header -->
