<!-- begin mobile-nave -->
<nav class="mobile-nav js-nav">	
	<!-- begin search -->
	<div class="search mobile-nav__search js-search">
		<form action="" autocomplete="on">
			<input class="search__field js-search-input" type="text" placeholder="Что вы ищите ?">
			<input class="search__submit" type="submit">
			<div class="search__hint" style="display: none;">
				<div class="search-hint search-hint--cyties">
					<ul class="search-hint__list">
						{% for i in range(0, 5) %}
							<li class="search-hint__item">
								<a href="#" class="search-hint__link">
									<span class="search-hint__text">Комплект патрубков</span>
								</a>
							</li>
						{% endfor %}﻿
					</ul>
				</div>
			</div>
		</form>
	</div>
	<!-- end search -->
	<ul class="mobile-nav__list">
		<li class="mobile-nav__item">
			<a href="#" class="mobile-nav__link mobile-nav__link--home">Главная</a>
		</li>
		<li class="mobile-nav__item">
			<a href="#" class="mobile-nav__link mobile-nav__link--catalog js-mobile-nav-sub--open">Каталог</a>
			<ul class="mobile-nav--sub">
				<li class="mobile-nav__item">
					<a href="#" class="mobile-nav__link mobile-nav__link--back js-mobile-nav-sub--close">Назад</a>
				</li>
				{% import "data/data.html" as submenu %}		
				{% for item in submenu.filterType %}
				<li class="mobile-nav__item">
					<a href="#" class="mobile-nav__link">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		<li class="mobile-nav__item">
			<a href="#" class="mobile-nav__link mobile-nav__link--pay">Оплата</a>
		</li>
		<li class="mobile-nav__item">
			<a href="#" class="mobile-nav__link mobile-nav__link--delivery">Доставка</a>
		</li>	
		<li class="mobile-nav__item mobile-nav__item--not-auth cs-dropdown js-dropdown">
			<span class="mobile-nav__link mobile-nav__link--lk">Личный кабинет</span>
			<ul class="cs-dropdown__list">
				<li class="mobile-nav__item">
					<a href="#enter" class="mobile-nav__link" data-fancybox>Вход</a>
				</li>
				<li class="mobile-nav__item">
					<a href="#register" class="mobile-nav__link" data-fancybox>Регистрация</a>
				</li>
			</ul>
		</li>	
		<li class="mobile-nav__item mobile-nav__item--auth cs-dropdown js-dropdown">
			<a href="#" class="mobile-nav__link mobile-nav__link--lk">VeronikaSam</a>
			<ul class="cs-dropdown__list">
				<li class="mobile-nav__item">
					<a href="lk-user.html" class="mobile-nav__link">Личные данные</a>
				</li>
				<li class="mobile-nav__item">
					<a href="lk-order.html" class="mobile-nav__link">Мои заказы</a>
				</li>
				<li class="mobile-nav__item">
					<a href="lk-sale.html" class="mobile-nav__link">Персональные скидки</a>
				</li>
				<li class="mobile-nav__item">
					<a href="#" class="mobile-nav__link">Выход</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="mobile-nav__list">
		{% import "data/data.html" as manu %}		
		{% for item in manu.menuMobileBottom %}
		<li class="mobile-nav__item {{ item.class }}">
			<a href="#" class="mobile-nav__link mobile-nav__link--{{ item.icon }}">{{ item.title }}</a>
		</li>
		{% endfor %}	
	</ul>		

	<!-- begin phone -->
	<div class="phone phone--icon">
		<a href="#" class="phone__link" itemprop="telephone">8 800 555 25 40</a>
	</div>
	<!-- end phone -->

	{{ item.socialBtn() }}
</nav>
<!-- end mobile-nav -->