<!-- begin search -->
<div class="search__wrap">
	<div class="search js-search">
		<form autocomplete="on">
			<input class="search__field js-search-input" type="text" placeholder="Что вы ищите ?" autocomplete="off">
			<button class="search__submit"></button>
			<div class="search__hint" style="display: none;">
				<div class="search-hint search-hint--cyties">
					<ul class="search-hint__list">
						{% for i in range(0, 5) %}
						<li class="search-hint__item">
							<a href="#" class="search-hint__link">
								<span class="search-hint__text">Same title</span>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</form>
	</div>
</div><!-- end search -->
