{% set
mainMenu = [
	{
		title: 'Легкий старт'
	},
	{
		title: 'Логистика'
	},
	{
		title: 'Уникальные коды'
	},
	{
		title: 'Журнал',
		class: 'is-active'
	}
]
%}

{% set
	brands = [
		{
			title: 'Control Shift 20'
		},
		{
			title: 'Балаково Запчасть'
		},
		{
			title: 'РТИ АВТО'
		},
		{
			title: 'БалаковоРезинотехника'
		},
		{
			title: 'Сэви'
		},
		{
			title: 'БМРТ'
		},
		{
			title: 'Резинотехника'
		},
		{
			title: 'Вепа'
		},
		{
			title: 'Технологии Будущего'
		},
		{
			title: 'AD Plastic'
		},
		{
			title: 'Опора'
		},
		{
			title: 'МЗМ'
		},
		{
			title: 'Промтехнология'
		},
		{
			title: 'ПТП'
		},
		{
			title: 'Технопартнер'
		},
		{
			title: 'Уралэластотехника'
		},
		{
			title: 'Волгопромтранс'
		},
		{
			title: 'Элад'
		},
		{
			title: 'Резерв'
		},
		{
			title: 'СЗРТ'
		}
	]
	%}

{% set
navDropdown = [
	{
		title: 'Control Shift 20',
		desc: 'Производство автозапчастей из качественного полиуретана.',
		rent: 'Рентабельность 20-25%'
	},
	{
		title: 'Балаково Запчасть',
		desc: 'Модернизированные технологии крупного производства БРТ',
		 rent: 'Рентабельность 14-20%'
	},
	{
		title: 'РТИ АВТО',
		desc: 'Самый доступный бренд РТИ на рынке за последние 25 лет.',
		rent: 'Рентабельность18-22%'
	}
]
%}

{% set
navDropdownBrandsOne = [
	{
		title: 'Control Shift 20'
	},
	{
		title: 'Балаково Запчасть'
	},
	{
		title: 'РТИ АВТО'
	},
	{
		title: 'МЗМ'
	},
	{
		title: 'Технопартнер'
	},
	{
		title: 'Элад'
	}
]
%}

{% set
navDropdownBrandsTwo = [
	{
		title: 'БалаковоРезинотехника'
	},
	{
		title: 'Сэви'
	},
	{
		title: 'БМРТ'
	},
	{
		title: 'Резинотехника'
	},
	{
		title: 'Промтехнология'
	},
	{
		title: 'Уралэластотехника'
	},
	{
		title: 'Резерв'
	}
]
%}

{% set
	jurnalTopMenu = [
		{
			title: 'Поделиться',
			icon: 'fa-share-alt'
		},
		{
			title: 'В закладки',
			icon: 'fa-star'
		},
		{
			title: 'Ночной режим',
			icon: 'fa-moon',
			jsClass: 'js-night-mode'
		}
	]
	%}

{% set
navDropdownBrandsThree = [
	{
		title: 'Вепа'
	},
	{
		title: 'Технологии Будущего'
	},
	{
		title: 'AD Plastic'
	},
	{
		title: 'Опора'
	},
	{
		title: 'ПТП'
	},
	{
		title: 'Волгопромтранс'
	},
	{
		title: 'СЗРТ'
	}
]
%}

{% set
	jurnalItem = [
		{
			title: 'Наставники из Екатеринбурга приняли участие в первой интеллектуальной игре «Что? Где? Когда?»'
		},
		{
			title: 'Сбербанк первым в России запустил сервис сурдоперевода в своих отделениях и не только в своих отделениях'
		},
		{
			title: 'При обслуживании сотрудник передает клиенту планшет, на котором к диалогу удаленно подключается переводчик '
		}
	]
	%}
