{% set
mainMenu = [
	{
		title: 'Легкий старт'
	},
	{
		title: 'Логистика'
	},
	{
		title: 'Уникальные коды'
	},
	{
		title: 'Журнал'
	}
]
%}

{% set
	brands = [
		{
			title: 'Control Shift 20'
		},
		{
			title: 'Балаково Запчасть'
		},
		{
			title: 'РТИ АВТО'
		},
		{
			title: 'БРТИ'
		},
		{
			title: 'БалаковоРезинотехника'
		},
		{
			title: 'Сэви'
		},
		{
			title: 'БМРТ'
		},
		{
			title: 'Резинотехника'
		},
		{
			title: 'Вепа'
		},
		{
			title: 'Технологии Будущего'
		},
		{
			title: 'AD Plastic'
		},
		{
			title: 'Опора'
		},
		{
			title: 'МЗМ'
		},
		{
			title: 'Промтехнология'
		},
		{
			title: 'ПТП'
		},
		{
			title: 'Технопартнер'
		},
		{
			title: 'Уралэластотехника'
		},
		{
			title: 'Волгопромтранс'
		},
		{
			title: 'Элад'
		},
		{
			title: 'Резерв'
		},
		{
			title: 'СЗРТ'
		}
	]
	%}

{% set
navDropdown = [
	{
		title: 'Control Shift 20',
		desc: 'Производство автозапчастей из качественного полиуретана.',
		rent: 'Рентабельность 20-25%'
	},
	{
		title: 'Балаково Запчасть',
		desc: 'Модернизированные технологии крупного производства БРТ',
		 rent: 'Рентабельность 14-20%'
	},
	{
		title: 'РТИ АВТО',
		desc: 'Самый доступный бренд РТИ на рынке за последние 25 лет.',
		rent: 'Рентабельность18-22%'
	},
	{
		title: 'БРТИ',
		desc: 'Мы вообще хз что это за бренд такой, пусть будет для красоты.',
		rent: 'Рентабельность 50-95%'
	}
]
%}

{% set
navDropdownBrandsOne = [
	{
		title: 'Control Shift 20'
	},
	{
		title: 'Балаково Запчасть'
	},
	{
		title: 'РТИ АВТО'
	},
	{
		title: 'БРТИ'
	},
	{
		title: 'МЗМ'
	},
	{
		title: 'Технопартнер'
	},
	{
		title: 'Элад'
	}
]
%}

{% set
navDropdownBrandsTwo = [
	{
		title: 'БалаковоРезинотехника'
	},
	{
		title: 'Сэви'
	},
	{
		title: 'БМРТ'
	},
	{
		title: 'Резинотехника'
	},
	{
		title: 'Промтехнология'
	},
	{
		title: 'Уралэластотехника'
	},
	{
		title: 'Резерв'
	}
]
%}

{% set
navDropdownBrandsThree = [
	{
		title: 'Вепа'
	},
	{
		title: 'Технологии Будущего'
	},
	{
		title: 'AD Plastic'
	},
	{
		title: 'Опора'
	},
	{
		title: 'ПТП'
	},
	{
		title: 'Волгопромтранс'
	},
	{
		title: 'СЗРТ'
	}
]
%}
