{% set
mainMenu = [
	{
		title: 'Легкий старт'
	},
	{
		title: 'Логистика'
	},
	{
		title: 'Уникальные коды'
	},
	{
		title: 'Журнал'
	}
]
%}

{% set
	brands = [
		{
			title: 'Control Shift 20'
		},
		{
			title: 'Балаково Запчасть'
		},
		{
			title: 'РТИ АВТО'
		},
		{
			title: 'БРТИ'
		},
		{
			title: 'БалаковоРезинотехника'
		},
		{
			title: 'Сэви'
		},
		{
			title: 'БМРТ'
		},
		{
			title: 'Резинотехника'
		},
		{
			title: 'Вепа'
		},
		{
			title: 'Технологии Будущего'
		},
		{
			title: 'AD Plastic'
		},
		{
			title: 'Опора'
		},
		{
			title: 'МЗМ'
		},
		{
			title: 'Промтехнология'
		},
		{
			title: 'ПТП'
		},
		{
			title: 'Технопартнер'
		},
		{
			title: 'Уралэластотехника'
		},
		{
			title: 'Волгопромтранс'
		},
		{
			title: 'Элад'
		},
		{
			title: 'Резерв'
		},
		{
			title: 'СЗРТ'
		}
	]
	%}
