{% import "partials/assets/_mixins.html" as mixin %}
{% import "partials/_items.html" as item %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
	<meta name="keywords" content>
	<meta name="description" content>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<meta name="apple-mobile-web-app-title" content="ProjectName">
	<meta name="application-name" content="ProjectName">
	<meta name="msapplication-TileColor" content="ProjectColor">
	<meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
	<meta name="msapplication-TileColor" content="ProjectColor">
	<meta name="theme-color" content="ProjectColor">

	{% include "../partials/assets/_favicons.html" %}

	{#{% include "../partials/assets/_media-tags.html" %}#}

	<link href="css/app.css" rel="stylesheet" media="all">
</head>
<body class="loading">

	<div class="wrapper {{ wrapperClass }}">
		{% include "partials/_header.html" %}
		{% block content %}{% endblock %}
		{% include "partials/_footer.html" %}
	</div>

	<div class="preloader js-preloader--main"></div>
	<div class="overlay js-overlay--main"></div>
	<div class="go-top js-go-top"></div>

	<!-- begin popups -->
	<div class="popups">
		{% include "partials/_popup.html" %}
	</div>
	<!-- end popups -->

	<!-- begin scripts & libs -->
	<script src="js/libs.min.js" type="text/javascript"></script>
	{% block scripts %}{% endblock %}
	<script src="js/app.js" type="text/javascript"></script>
	<!-- end scripts & libs -->
</body>
</html>
