.bb-dropdown {
    position: relative;

    &--hover {
        position: relative;

        &:hover {

            .bb-dropdown__list {
                visibility: visible;
                opacity: 1;
                filter: none;
                display: block;
                top: 35px;
                pointer-events: auto;
            }
        }
    }

    &.is-active {

        .bb-dropdown__list {
            visibility: visible;
            opacity: 1;
            filter: none;
            display: block;
            top: 35px;
            pointer-events: auto;
        }
    }

    &__list {
        min-width: 150px;
        max-width: 320px;
        padding: 4px 12px 5px;
        text-align: left;
        background-color: #fff;
        position: absolute;
        top: 45px;
        left: 0;
        z-index: z(dropdown);
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear,
            visibility 100ms linear;
        border: 1px solid $color-border--lighten;
        @extend %box;
        @include nosel;

        &::before {
            content: '';
            height: 0;
            width: 0;
            margin: 0 -3px;
            border: solid transparent;
            pointer-events: none;
            border-width: 6px;
            border-bottom-color: $color-border--lighten;
            position: absolute;
            top: -12px;
        }

        &::after {
            position: absolute;
            pointer-events: none;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            bottom: 100%;

            border-width: 5px;
            border-bottom-color: #fff;
        }
    } //.bb-dropdown__list

    &.top {

        .bb-dropdown {

            &__list {
                top: -35px;

                &::before {
                    top: auto;
                    bottom: -5px;
                }
            }
        }

        &:hover {

            .bb-dropdown {

                &__list {
                    top: -45px;
                }
            }
        }
    }

    &.right {

        .bb-dropdown {

            &__list {
                left: auto;
                right: 0;

                &::before {
                    left: auto;
                    right: 8px;
                }
            }
        }
    }

    &.left {

        .bb-dropdown {

            &__list {
                left: 0;
                right: auto;

                &::before {
                    left: 15px;
                    right: auto;
                }
            }
        }
    }
} //bb-dropdown
