.m-input {
    margin-bottom: $gutter / 2;
    position: relative;

    &.is-invalid {

        .m-input {

            &__field {
                border-color: #f00;
            }

            &__error {
                display: block;
            }
        }

        .select2-container--default .select2-selection--single {
            border-color: #f00;
        }

        .select2-container--default
        .select2-selection--single
        .select2-selection__arrow
        b::before {
            color: #f00;
        }
    }

    &__wrap {
        @include flexCenter;

        &_title {
            margin-right: $gutter * 2;
            @include respond-to(sm) {
                margin-right: $gutter;
            }
        }

        .m-input + .m-input {
            margin-left: $gutter;
        }
    } //.m-input__wrap

    &__title {
        color: $gray;
        font-size: 14px;
    } //.m-input__title

    &__field {
        width: 100%;
        padding: 8px 15px;
        border-color: #ccc;
        background-color: #fff;

        &:focus {
            border-color: #9c9c9c;
        }
    } //.m-input__field

    &__icon {
        color: $color-icon;
        @include vy;
        right: 10px;
    } //.m-input__icon

    &__error {
        display: none;
        color: #f00;
        font-size: 12px;
        position: absolute;
        left: 0;
        bottom: -20px;
    } //.m-input__error

    &--file {
        cursor: pointer;

        &:hover {

            .m-input__title {
                color: #247fc5;
            }
        }

        .m-input {

            &__title {
                color: $color-link;

                span {
                    color: $gray--light;
                }
            }

            &__field {
                display: none;
            }
        }
    } //.m-input--file

    &--date {
        margin-bottom: 0;
        position: relative;

        & + & {

            &::before {
                content: '\f068';
                color: $color-icon;
                font-family: faL;
                @include vy;
                left: -21.5px;
            }
        }

        .m-input {

            &__field {
                padding-right: 30px;
            }
        }
    } //.m-input--date

    &--text {
        margin-bottom: 0;
    } //.m-input--text
} //.m-input
