.pagination {
    margin: $gutter 0 $gutter * 2;
    @include flexCenter;
    justify-content: center;

    &__list {
        @include flexCenter;
    } //.pagination__list

    &__item {
        @include flexCenter;
        margin: 0 3px;
        text-align: center;

        &.is-active {

            .pagination__link {
                color: $color-text;
                background-color: $gray--lighten;

                &:hover {
                    color: $color-text;
                }
            }
        }
    } //.pagination__item

    &__link {
        @include flexCenter;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin: auto;
        font-size: 14px;
        color: $gray--light;
        border: 1px solid transparent;
        border-radius: $border-radius;
        transition: initial;

        .fa,
        .fab,
        .fal,
        .far,
        .fas {
            font-size: 20px;
            line-height: 1;
        }

        &:hover {
            border-color: $color-border--light;
            color: $color-text;
        }
    } //.pagination__link

    &__gap {
        margin-right: 8px;
    }
} //.pagination
