//noUiSlider
$noUi-height: 7px;
$noUi-radius: 5px;
$noUi-bg: $gray--lighten;
$noUi-bg-active: $color-accent;

.noUi-horizontal {
    height: $noUi-height;

    .noUi-handle {
        top: -10px;
        left: -5px;
        border-radius: 50%;

        width: 23px;
        height: 24px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
    }
}

.noUi-base,
.noUi-handle {
    background: $noUi-bg-active;
    border-radius: $noUi-radius;
    z-index: initial;
}

.noUi-handle {
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    outline: none;

    &::after {
        display: none;
    }

    &::before {
        display: none;
    }
}

.noUi-connect,
.noUi-target {
    background-color: $noUi-bg;
    border: none;
    border-radius: $noUi-radius;
    box-shadow: none;
}

.range {
    margin: 0 7px;
    @include clr;

    &__diapazon {
        margin-bottom: $gutter;
    }

    &__title {
        color: $color-text;
        font-size: 20px;
    }

    &__from,
    &__to {
        display: inline-block;
        vertical-align: middle;
        font-family: $f-medium;
        color: $color-text;
        font-size: 20px;

        span {
            font-size: 20px;
            color: $color-text;
        }

        i {
            font-size: 15px;
        }
    } //.range__from

    &__from {
        float: left;
    }

    &__to {
        float: right;
    } //.range__to
} //.range
