.m-slider {
    position: relative;

    &__arrow {
        display: inline-flex;
        width: 30px;
        height: 30px;
        background-color: rgba(#fff, 0.5);
        position: absolute;
        bottom: 25px;
        cursor: pointer;
        outline: none;
        z-index: z(default);

        &.slick-disabled {
            display: none !important;
        }

        &::before {
            margin: auto;
            font-family: faL;
            font-size: 25px;
            line-height: 1;
            color: #000;
            opacity: 0.3;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        } //m-slider__arrow

        &--prev {
            right: 35px;

            &::before {
                content: '\f104';
            }

            @include respond-to(sm) {
                right: 65px;
            }
        } //m-slider__arrow--prev

        &--next {
            right: 0;

            &::before {
                content: '\f105';
            }

            @include respond-to(sm) {
                right: 30px;
            }
        } //m-slider__arrow--next
    } //m-sliderm-slider

    &__slide {
        position: relative;
    } //.m-slider__slide

    &__image {
        @include coverdiv;
    }

    &__text {
        padding-top: $gutter * 2;

        @include respond-to(xs) {
            padding: $gutter * 2 $gutter 0;
        }

        @include respond-to(i5) {
            padding-top: 12%;
        }

        &--center {
            padding-top: 0;
            text-align: center;
            @include vx;
            top: 5%;

            @include respond-to(sm) {
                left: 10px;
                right: 10px;
                transform: translateX(0);
            }

            .m-slider {

                &__title {
                    color: $color-text;
                    font-size: 25px;
                    font-family: $f-medium;
                    font-weight: 500;
                    text-transform: initial;
                }

                &__desc {
                    // min-width: 100%;
                    color: $color-text;
                    font-family: $f-light;
                }
            }
        } //.m-slider__text--center
    } //.m-slider__text

    &__title {
        display: block;
        margin-bottom: 30px;
        color: #fff;
        font-family: $f-medium;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        @include respond-to(xs) {
            font-size: 27px;
        }
    } //.m-slider__title

    &__desc {
        display: block;
        max-width: 320px;
        margin-bottom: 45px;
        color: rgba(#fff, 0.8);
        font-family: $f-light;
        font-size: 16px;

        @include respond-to(xs) {
            max-width: 100%;
        }
    } //.m-slider__desc

    &__btn {
        font-family: $f-medium;
        font-size: 15px;
    } //.m-slider__btn

    .slick-slide {
        margin: 0;
    }

    .slick-dots {
        width: auto;
        bottom: auto;
        top: 65px;
        right: 0;
        z-index: z(default);

        @include respond-to(sm) {
            right: $gutter;
        }

        li {
            color: rgba(#fff, 0.8);
            font-size: 15px;
            display: none;

            &.slick-active {
                display: block;
            }
        }
    }

    .slick-arrow {
        display: inline-flex;
        width: 30px;
        height: 30px;
        background-color: rgba(#fff, 0.5);
        position: absolute;
        bottom: 25px;
        top: auto;
        cursor: pointer;
        outline: none;
        z-index: z(default);

        @include respond-to(xs) {
            display: none !important;
        }

        &.slick-disabled {
            display: none !important;
        }

        &::before {
            margin: auto;
            font-family: faL;
            font-size: 25px;
            line-height: 1;
            color: #000;
            opacity: 0.3;
            position: relative;
        }

        &:hover {

            &::before {
                opacity: 1;
            }
        } //m-slider__arrow

        &.slick-next {
            right: 0;
            left: auto;

            &::before {
                content: '\f105';
            }

            @include respond-to(sm) {
                right: 30px;
            }
        }

        &.slick-prev {
            right: 35px;
            left: auto;

            &::before {
                content: '\f104';
            }

            @include respond-to(sm) {
                right: 65px;
            }
        }
    }

    &--info {

        .m-slider {

            &__text {
                @include respond-to(xs) {
                    padding-top: 0;
                }
            }
        }

        .slick-arrow {

            &.slick-prev {
                right: 55px;
            }

            &.slick-next {
                right: 20px;
            }
        }
    } //.m-slider--info

    &--reviews {

        .m-slider {

            &__text--center {
                max-width: 375px;
                text-align: left;
                @include vy;
                left: 50px;

                @include respond-to(xs) {
                    max-width: 100%;
                    padding: 15% $gutter;
                    position: static;
                    @include tY(0);
                }
            }

            &__desc {
                @include respond-to(sm) {
                    max-width: 240px;
                    margin: auto auto 45px 0;
                }

                @include respond-to(xs) {
                    margin: auto auto 45px;
                }
            }
        }

        .slick-arrow {

            &.slick-prev {
                right: 55px;
            }

            &.slick-next {
                right: 20px;
            }
        }
    } //.m-slider--reviews
} //m-slider
