.footer {

    &__top,
    &__bottom {
        padding: 45px 0;
        @include respond-to(sm) {
            padding: 25px 0;
            text-align: center;
        }
    }

    &__top {
        background-color: $gray--lighten;

        .footer__item {
            @include size(3);
            @include size-sm(12);

            &:first-child {
                @include size(2);
            }

            &:last-child {
                @include size(4);
                @include size-sm(12);
            }

            &:not(.no-hide) {
                @include respond-to(sm) {
                    display: none;
                }
            }
        }
    } //.footer__top

    &__bottom {
        color: $gray--light;
        font-size: 14px;
        background-color: $color-bg--dark;

        .footer__item {
            @include size(3);
            @include size-sm(12);
            color: $gray--light;

            li,
            a,
            strong,
            span {
                color: $gray--light;
            }

            li,
            a {
                font-family: $f-light;
            }
        }
    } //.footer__bottom

    &__in {
        @include row-flex;
    } //.footer__in

    &__item {
        font-size: 15px;
        @include col;

        li:not(.social__item) {
            display: block;
            @include gutter($gutter / 2);
            color: $gray;
            line-height: 1.5;
        }

        a {
            color: $gray;

            &:hover {
                color: #000;
            }
        }

        strong {
            display: block;
        }
    } //.footer__item

    &__list {
        @include gutter($gutter / 2);

        a {
            display: block;

            &:hover {

                span {
                    color: #fff;
                }
            }
        }

        &:not(.no-hide) {
            @include respond-to(sm) {
                display: none;
            }
        }
    } //.footer__list

    .box-center {

        .phone {

            &__link {
                font-size: 16px;
                text-align: center;
            }
        }

        .btn {
            margin: 25px 0 $gutter;
        }
    }
} //.footer

.copyright {
    color: $gray--light;
    line-height: 1.5;
} //.copyright
