$header-height: 50px;

.header {

    &.is-fixed {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: z(default);

        @include respond-to(sm) {
            position: fixed;
        }
    }

    @include respond-to(sm) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: z(dropdown);
    }

    &__top {
        height: $header-height;
        background-color: $gray--lighten;
        position: relative;
    } //.header__top

    &__bottom {
        height: $header-height;
        border-bottom: 1px solid $color-border--light;

        @include respond-to(sm) {
            display: none;
        }
    } //.header__bottom

    &__inner {
        @include flexCenter;
    } //.header__inner

    &__logo {
        margin-right: 40px;

        @include respond-to(sm) {
            margin-left: 45px;
        }
    }//.header__logo

    &__nav {
        flex: 1;
    }//.header__nav

    &__search {
        margin-right: $gutter;
    }//.header__search

    &__btn {
        padding: 7px 35px;
    }//.header__btn

    &--transparent {
        .header {
            &__top {
                background-color: transparent;

                @include respond-to(sm) {
                    background-color: $gray--lighten;
                }
            }
        }

        .nav {
            &__item {
                &:hover {
                    .header {
                        background-color: #fff;
                    }
                }
            }
        }
    } //.header--transparent
} //.header

.logo {
    &__link {
        color: $color-text;
        font-family: $f-bold;
        line-height: $header-height;
        letter-spacing: 0.5px;

        &:hover {
            color: $color-text;
        }
    }//.logo__link
}//.logo
