.nav {

    &__list {
        @include flexCenter;
    } //.nav__list

    &__item {

        & + & {
            margin-left: 25px;
        }

        &.is-active,
        &:hover {

            .nav {

                &__link {

                    &::after {
                        width: 100%;
                    }
                }

                &__dropdown {
                    display: block;
                }
            }
        }
    } //.nav__item

    &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: z(success);
    } //.nav__dropdown

    &__link {
        display: block;
        font-size: 14px;
        line-height: $header-height;
        border-radius: $border-radius;
        position: relative;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            background-color: $color-bg--darkest;
            @include vx;
            bottom: 0;
            @include tr;
        }

        &:hover,
        .is-active {

            &::after {
                width: 100%;
            }
        }
    } //.nav__link

    &--top {

        .nav {

            &__link {
                color: $gray;

                &:hover {
                    color: #000;
                }
            }
        }
    } //.nav--top

    &--bottom {

        .nav {

            &__link {

                &::after {
                    display: none;
                }
            }
        }
    } //.nav--bottom
} //.nav

.nav-dropdown {
    padding: 50px 0;
    background-color: #fff;

    &__inner {
        max-width: 1200px;
        margin: auto;
    }

    &__in {
        @include row-flex;
    }

    &__list {
        @include row-flex;

        &_wrap {
            @include col;
            @include size(9);
        }
    } //.nav-dropdown__list

    &__adv {
        @include col;
        @include size(3);
    } //.nav-dropdown__list

    &__item {
        margin-bottom: 40px;
        @include col;
        @include size(4);
    } //.nav-dropdown__item

    &__link {
        display: block;
        margin-bottom: 5px;
        font-family: $f-medium;
        font-size: 16px;
    } //.nav-dropdown__link

    &__desc {
        color: $gray--darken;
        font-family: $f-light;
        font-size: 14px;

        span {
            display: block;
            font-family: $f-medium;
        }
    } //.nav-dropdown__desc

    &--brands {

        .nav-dropdown {

            &__link {
                margin-bottom: 20px;
            }
        }
    } //.nav-dropdown--brands

    .mobile-nav__link {

        &::after {
            display: none;
        }
    }

    .social {
        margin-top: 10px;
    }
} //.nav-dropdown

.nav-dropdown-adv {
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;

    &__desc {
        padding: 15px 20px;
        border: 1px solid #e1e1e1;
        border-top-color: transparent;
        border-radius: 0 0 $border-radius $border-radius;
    } //.nav-dropdown-adv__desc

    &__title {
        color: $gray--darken;
        font-family: $f-medium;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.2;
    } //.nav-dropdown-adv__title

    &__subtitle {
        display: block;
        margin-bottom: 10px;
        color: $gray--darken;
        font-family: $f-light;
        font-size: 14px;
    } //.nav-dropdown-adv__subtitle

    &__list {
        margin-bottom: 15px;
    } //.nav-dropdown-adv__list

    &__item {
        color: $gray--darken;
        font-family: $f-light;
        font-size: 14px;
        position: relative;

        &::before {
            content: '-';
            margin-right: 5px;
        }
    } //.nav-dropdown-adv__item
} //.nav-dropdown-adv

.mobile-nav {
    display: none;
    padding-top: 50px;
    background-color: #fff;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    overflow: hidden;
    @include smooth-scroll;

    &__in {
        width: 100%;
        background-color: #fff;
        overflow-y: auto;
    }

    &__list {
        margin: 0 60px 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $color-border--light;
        @include respond-to(sm) {
            margin-left: 60px;
        }

        &--sub {

            &:not(.pt-0) {
                padding-top: 15px;
            }

            .mobile-nav__link {

                &:not(.mobile-nav__link--back) {

                    &::after {
                        display: none;
                    }
                }
            }
        }
    } //.mobile-menu__list

    &__item {

        span {
            display: block;
            font-family: $f-light;
            font-size: 12px;
        }

        strong {
            display: block;
        }

        &--auth {
            display: none;
        }
    } //.mobile-menu__item

    &__link {
        display: block;
        padding: 10px 0;
        color: $gray--darkest;
        font-size: 14px;
        line-height: 1.5;
        position: relative;

        &:hover,
        &:focus {
            color: #000;
        }

        &::after {
            content: '\f105';
            font-family: faL;
            font-size: 18px;
            position: absolute;
            top: 48%;
            transform: translateY(-50%);
            right: 0;
        }

        a {
            display: block;
        }

        &--back {

            &::after {
                content: '\f104';
                right: auto;
                left: -22px;

                @include respond-to(xs) {
                    left: -32px;
                }
            }
        }
    } //.mobile-menu__link

    &__search {
        position: absolute;
        right: 20px;
        top: 11px;
        z-index: z(dropdown);
    } //.mobile-menu__search

    &__btn {
        margin-bottom: $gutter / 1.5;
        @include min-screen(769) {
            display: none;
        }
        @include respond-to(xs) {
            width: 100%;
        }
    } //.mobile-menu__btn

    .phone {
        margin-bottom: 15px;
        padding-top: 15px;
    }

    .search {

        &__field {
            color: #000;
            margin: 0;
            height: 30px;
        }

        &__submit {
            width: 22px;
            height: 22px;
            padding: 0;

            &::before {
                left: 0;
            }
        }
    }

    .search-hint {
        background-color: #fff;
        top: 30px;
        left: -278px;

        &__item {
            border-top-color: #bbb;
        }

        &__link {
            color: $color-text;
        }
    }

    .box-center {
        margin: 0 60px 60px;
        @include respond-to(i5) {
            margin: 0 30px 30px;
        }
    }

    &--sub {
        padding: 50px 30px 0;
        background-color: #fff;
        @include coverdiv;
        overflow-y: auto;
        z-index: z(success);
        transform: translateX(200%);
        transition: transform 0.35s linear;
        will-change: transform;

        @include respond-to(xs) {
            padding: 50px 30px 0;
        }

        &.is-open {
            transform: translateX(0);
        }

        .mobile-nav {

            &__list {
                margin: 0 30px;

                &--sub {
                    padding-top: 0;
                }
            }

            &__item {

                &:not(:first-child) {

                    .mobile-nav__link {

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .box-center {
            margin: 0 30px 30px;
        }
    } //.mobile-nav--sub
} //.mobile-nav

.menu-toggle {
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 201;
    background-color: $color-bg--lighten;
    cursor: pointer;
    @include min-screen(993) {
        display: none;
    }

    &.is-open {

        .menu-toggle {

            &__boxes {
                transform: rotate(45deg);
                transition-delay: 0.4s;
            }

            &__box {
                background-color: $color-text;

                &:first-child {
                    transform: scaleX(0);
                    transition: transform 0.2s
                        cubic-bezier(0.694, 0.048, 0.335, 1);
                }

                &:nth-child(3) {
                    width: 0;
                    transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
                }

                &--other {
                    height: 30px;
                    transition: height 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
                    transition-delay: 0.3s;
                    background-color: $color-text;
                }
            }
        }
    }

    &__boxes {
        width: 30px;
        height: 18px;
        position: relative;
        transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
    } //.menu-toggle__boxes

    &__box {
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-bg--dark;
        margin-top: 7px;

        &:first-child {
            margin-top: 0;
            transform: scaleX(1);
            transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
            transition-delay: 0.4s;
        }

        &:nth-child(3) {
            width: 65%;
            transition: width 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
            transition-delay: 0.4s;
        }

        &--other {
            width: 2px;
            height: 0;
            background-color: $color-bg--dark;
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -1px;
            transition: height 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
            z-index: 10;
        } //.menu-toggle__box--other
    } //.menu-toggle__box
} //.menu-toggle
