.search {
    max-width: 300px;
    width: 100%;
    position: relative;
    height: 32px;
    padding: 0;
    @include flexCenter;

    &__wrap {
        display: flex;
        align-items: end;
    }

    &__field {
        display: inline-block;
        height: 42px;
        width: 0;
        padding: 3px;
        padding-right: 30px;
        margin-right: 50px;
        color: $gray;
        font-family: $f;
        font-size: 15px;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        cursor: pointer;
        position: absolute;
        top: -1px;
        right: 0;
        z-index: 3;
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);

        @include placeholder {
            color: $gray;
        }

        &:focus:hover {
            border-bottom: 2px solid #000;
        }

        &:focus {
            width: 300px;
            z-index: 1;
            border-bottom: 2px solid #222;
            cursor: text;
            @include respond-to(i5) {
                width: 250px;
            }
        }
    }

    &__submit {
        display: inline-block;
        color: $gray;
        font-family: $f-medium;
        font-size: 15px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;

        &::before {
            content: '';
            @include s('search');
            position: absolute;
            top: 0;
            left: -22px;
            z-index: 2;
        }
    }

    &__icon {
        fill: $gray;
    }
} //.search

.search-hint {
    min-height: 159px;
    max-height: 100%;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 41px;
    left: -294px;
    z-index: z(dropdown);
    border: 0;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: #fff;
    @include scroll--thin;

    box-shadow: 0 10px 20px rgba(#000, 0.2);

    &__item {

        & + & {
            border-top: 1px solid $color-border--light;
        }

        &.is-selected {
            background-color: #eee;
        }
    } //.search-hint__item

    &__link {
        padding: 7px 10px;
        @include flexCenter;
        transition: initial;
        display: flex;
        color: $color-text;
        font-size: 14px;

        &:hover {
            color: #000;
            background-color: $color-accent;
        }
    } //.search-hint__link

    &__bade {
        width: 98px;
        margin-right: 5px;
        padding: 1px 5px;
        font-family: $f-medium;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        color: #000;
        border-radius: $border-radius;
    } //.search-hint__bade
} //.search-hint
