$icons: (0:0);
$icons: map-merge($icons,('camera': (X: 0px, Y:0px, W: 64px, H: 54px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('rating--gray': (X: 0px, Y:-64px, W: 74px, H: 13px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('rating': (X: -84px, Y:-64px, W: 74px, H: 13px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('rating_big--gray': (X: -74px, Y:0px, W: 131px, H: 22px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('rating_big': (X: -74px, Y:-32px, W: 131px, H: 22px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('ss-angle--left': (X: 0px, Y:-87px, W: 32px, H: 32px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));
$icons: map-merge($icons,('ss-angle--right': (X: -42px, Y:-87px, W: 32px, H: 32px, TW: 205px, TH: 119px, IMG: '../img/sprite.png')));


// Gets an attribute from the sass map
@function icon-attr($icon, $attr){
	$icon: map-get($icons, $icon);
	@return map-get($icon, $attr);
}
	

@mixin sprite($iconName){
	background-image: url(icon-attr($iconName, IMG));
	width: icon-attr($iconName, W);
	height: icon-attr($iconName, H);
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}
	
@mixin sprite-position($iconName){
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}
@mixin sprite-retina($iconName){
	background-image: url(icon-attr($iconName, IMG));
	$width: icon-attr($iconName, W);
	$height: icon-attr($iconName, H);
	width: $width/2;
	height: $height/2;
	$x: icon-attr($iconName, X);
	$y: icon-attr($iconName, Y);
	background-position: $x/2 $y/2;
	$tw: icon-attr($iconName, TW);	
	$th: icon-attr($iconName, TH);
	background-size: $tw/2 $th/2;
}
	 	


@mixin s($i){
	@include sprite($i);
}
@mixin sp($i){
	@include sprite-position($i);
}
@mixin sr($i){
	@include sprite-retina($i);
}

//
//.icon-camera{
	//	width: 64px
//	height: 54px
//	background-image: url('../img/sprite.png')
//	background-position: 0px 0px
//}
//
//.icon-rating--gray{
	//	width: 74px
//	height: 13px
//	background-image: url('../img/sprite.png')
//	background-position: 0px -64px
//}
//
//.icon-rating{
	//	width: 74px
//	height: 13px
//	background-image: url('../img/sprite.png')
//	background-position: -84px -64px
//}
//
//.icon-rating_big--gray{
	//	width: 131px
//	height: 22px
//	background-image: url('../img/sprite.png')
//	background-position: -74px 0px
//}
//
//.icon-rating_big{
	//	width: 131px
//	height: 22px
//	background-image: url('../img/sprite.png')
//	background-position: -74px -32px
//}
//
//.icon-ss-angle--left{
	//	width: 32px
//	height: 32px
//	background-image: url('../img/sprite.png')
//	background-position: 0px -87px
//}
//
//.icon-ss-angle--right{
	//	width: 32px
//	height: 32px
//	background-image: url('../img/sprite.png')
//	background-position: -42px -87px
//}
//